django
gunicorn
social-auth-app-django
social-auth-core
django-crispy-forms
pinax-teams
pillow
python-dateutil
pytz
google-api-python-client
google-auth-oauthlib
google
google-auth
httplib2
oauth2client