{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'match/style.css' %}">

<div class="header">
  <h1> Login to Grasp </h1>
</div>

<form action="{% url 'match:submit' %}" method="POST">
        {% csrf_token %}
        <div class="login-page">
          <div class="form">
            <form class="login-form">
              <input type="text" placeholder="username" name="username" required/>
              <input type="password" placeholder="password" name="password" required/>
              <input type="submit" value="Login">
              <p class="message">Not registered? <a href="#">Create an account</a></p>
            </form>
          </div>
        </div>
</form>


{% if invalid %}
<style> .incorrect {color: red;} </style>
<div class="incorrect"> Your username or password is incorrect. </div>
{% endif %}
